<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Хорс</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
  </head>
  <body>
    <div class="main-header">
      <div class="navigation">
        <div class="logo">
          ХОРС
        </div>
        <div class="nav-bar">
          <ul>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Наши проекты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
